:root {
  font-size: 16px;
  --primary: #6834a6;
  --white: #fff;
  --black: #000000;
  --fontMain: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fontMain);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  inline-size: 100%;
}
