@import "./navegation.css";
@import "./list.css";
@import "./header.css";
@import "./nucleus.css";
@import "./segurity.css";
@import "./commission.css";
@import "./testimony-list.css";
@import "./footer.css";

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --fontMain: "Poppins", sans-serif;
  --titleOne: 900 1.875rem/1.2 var(--fontMain);
  --titleTwo: 900 1.875rem/1.2 var(--fontMain);
  --titleThree: 900 1.75rem/1.2 var(--fontMain);
  --primary: #6834a6;
  --purple: #5a30a0;
  --white: #fff;
  --black: #000000;
}

body {
  margin: 0;
  font-family: var(--fontMain);
  line-height: 1.5;
  color: var(--black);
}

h1 {
  font: var(--titleOne);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.125rem;
  }
}

h2 {
  font: var(--titleTwo);
  text-align: center;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.75rem;
  }
}

h3 {
  font: var(--titleThree);
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
}

img {
  inline-size: 100%;
  vertical-align: bottom;
}

[class$="__wrapper"] {
  max-inline-size: 75rem;
  margin: 0 auto;
  padding-inline: 1rem;
}
